---
import Layout from '../../layouts/Layout.astro';
import ArticleEditor from '../../components/ArticleEditor'; 
// Kita tidak import Supabase di server side agar tidak error
---

<Layout title="Tulis Berita | MEDIACIVITAS">
    <div class="container" style="padding-top: 40px;">
        <ArticleEditor client:only="react" />
    </div>
</Layout>